# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Proyecto
logs/*.log
temp/
fonts/output/
textures/generated/

# OS
.DS_Store
Thumbs.db